body,*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.dynamic-items{
  margin: 0 auto;
 text-align: center;
}
.img-div{
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}